* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.top-wrapper {
  position: fixed;
  z-index: 5;
  height: 80px;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 3px #d4d4d4;
}
.top-wrapper + .header {
  margin-top: 80px;
}

.top {
  height: 3px;
  background: repeating-linear-gradient(90deg, #F44336 0%, #F44336 25%, #009688 25%, #009688 50%, #9C27B0 50%, #9C27B0 75%, #FFC107 75%, #FFC107 100%);
  background-size: 50% 100%;
}

.nav-wrapper {
  padding: 0px;
}

.navigation {
  margin: 10px 4em;
  overflow: auto;
}
.navigation .burger-nav {
  margin-right: 10px;
  padding: 6px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  float: right;
  display: none;
}
.navigation .burger-nav .menu-bar {
  background-color: gray;
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 4px;
  border-radius: 2px;
}
.navigation .main-icon {
  display: inline-block;
}
.navigation .main-icon svg {
  width: 70px;
}
.navigation .menu {
  float: right;
  margin-right: 20px;
}
.navigation .menu li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
}
.navigation .menu li a {
  display: block;
  padding: 15px 15px;
}
.navigation .menu li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9C27B0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.navigation .menu li:hover:before, .navigation .menu li.active:before {
  visibility: visible;
  transform: scaleX(1);
}

.donar {
  color: white;
  background-color: #F44336;
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 400px;
  position: relative;
  overflow: hidden;
}
.header .header-img {
  background: url("../img/kidsWater.jpg");
  background-size: cover;
  height: 400px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.header .header-title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 400px;
  display: block;
  color: white;
  padding-top: 185px;
  padding-left: 6%;
}
.header .header-title h1 {
  text-shadow: 0px 2px 2px black;
  font-size: 30px;
}
.header .header-title p {
  text-shadow: 0px 2px 2px black;
  margin: 15px 0px 20px;
}
.header .header-title a {
  background-color: #009a8b;
  color: white;
  border: 2px solid #009a8b;
  padding: 14px 24px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in-out;
}
.header .header-title a:hover {
  border: 2px solid white;
}

h1.title {
  color: #4e4e4e;
}

h1.subtitle {
  color: #545454;
}

@media only screen and (min-width: 820px) and (max-width: 1080px) {
  .navigation {
    margin: 10px 0em;
  }
  .navigation .menu {
    margin-right: 10px;
  }
  .navigation .menu li {
    margin-right: 5px;
  }
  .navigation .menu li a {
    padding: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 820px) {
  .navigation {
    margin: 10px 0em;
  }
  .navigation .burger-nav {
    display: inline-block;
  }
  .navigation .menu {
    margin-right: 0px;
    float: none;
    display: none;
  }
  .navigation .menu.show-me {
    display: block;
  }
  .navigation .menu li {
    margin-right: 0px;
    display: block;
    text-align: center;
    background-color: white;
  }
  .navigation .menu li a {
    padding: 12px;
  }
}
footer {
  border-top: solid 2px lightgray;
  text-align: center;
  color: #7b7b7b;
  padding: 20px 0px 15px 0px;
  font-size: 0.8em;
}
footer p {
  margin: 10px;
}

.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  color: #7b7b7b;
  margin: 10px;
}

.products-header {
  height: 200px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/img/news/event.jpg");
  background-size: cover;
}
.products-header h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 6px 0px 15px;
}

.about-wrapper {
  max-width: 1100px;
  margin: auto;
  color: #696969;
  font-family: "Work Sans", sans-serif;
  padding-top: 30px;
}
.about-wrapper p {
  line-height: 170%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.about-mision, .about-vision {
  width: 50%;
  float: left;
  padding: 10px 10px;
}

.business-model {
  background-color: #009688;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

.round-div {
  border: 4px solid white;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  height: 150px;
  width: 150px;
  vertical-align: top;
}
.round-div p {
  font-weight: 500;
}

/*# sourceMappingURL=aboutTheme.css.map */