* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.under-construction {
  display: block;
  text-align: center;
  height: 0px;
  padding-top: 15px;
  animation-name: construction-animation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  font-weight: 500;
  letter-spacing: 2px;
}

@keyframes construction-animation {
  0% {
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    height: 60px;
    visibility: visible;
    opacity: 1;
  }
}
.top-wrapper {
  position: fixed;
  z-index: 5;
  height: 80px;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 3px #d4d4d4;
}
.top-wrapper + .header {
  margin-top: 80px;
}

.top {
  animation-name: margin-top-animation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  height: 3px;
  background: repeating-linear-gradient(90deg, #2e8ab3 0%, #2e8ab3 25%, #33658A 25%, #33658A 50%, #2e8ab3 50%, #2e8ab3 75%, #33658A 75%, #33658A 100%);
  background-size: 50% 100%;
}

.nav-wrapper {
  padding: 0px;
}

.navigation {
  margin: 10px 4em;
}
.navigation .burger-nav {
  margin-right: 10px;
  padding: 6px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  float: right;
  display: none;
}
.navigation .burger-nav .menu-bar {
  background-color: gray;
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 4px;
  border-radius: 2px;
}
.navigation .main-icon {
  display: inline-block;
}
.navigation .main-icon svg {
  width: 70px;
}
.navigation .menu {
  float: right;
  margin-right: 20px;
}
.navigation .menu li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
}
.navigation .menu li.dropdown .dropdown-content {
  z-index: 100;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform-origin: top left;
}
.navigation .menu li.dropdown:hover .dropdown-content {
  display: block;
  animation-name: hover-animation;
  animation-duration: 0.3s;
}
.navigation .menu li a {
  display: block;
  padding: 15px 15px;
  color: #551a8b;
}
.navigation .menu li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2e8ab3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.navigation .menu li:hover:before, .navigation .menu li.active:before {
  visibility: visible;
  transform: scaleX(1);
}

.donar {
  color: white !important;
  background-color: #2e8ab3;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.header {
  height: 400px;
  position: relative;
  overflow: hidden;
}
.header .header-img {
  background: url("../img/kidsWater.jpg");
  background-size: cover;
  height: 400px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.header .header-title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 400px;
  display: block;
  color: white;
  padding-top: 185px;
  padding-left: 6%;
}
.header .header-title h1 {
  text-shadow: 0px 2px 2px black;
  font-size: 30px;
}
.header .header-title p {
  text-shadow: 0px 2px 2px black;
  margin: 15px 0px 20px;
}
.header .header-title a {
  background-color: #34678d;
  color: white;
  border: 2px solid #34678d;
  padding: 14px 24px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in-out;
}
.header .header-title a:hover {
  border: 2px solid white;
}

h1.title {
  color: #4e4e4e;
}

h1.subtitle {
  color: #545454;
}

@media only screen and (min-width: 820px) and (max-width: 1080px) {
  .navigation {
    margin: 10px 0em;
  }
  .navigation .menu {
    margin-right: 10px;
  }
  .navigation .menu li {
    margin-right: 5px;
  }
  .navigation .menu li a {
    padding: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 820px) {
  .navigation {
    margin: 10px 0em;
  }
  .navigation .burger-nav {
    display: inline-block;
  }
  .navigation .menu {
    margin-right: 0px;
    float: none;
    display: none;
  }
  .navigation .menu.show-me {
    display: block;
  }
  .navigation .menu li {
    margin-right: 0px;
    display: block;
    text-align: center;
    background-color: white;
  }
  .navigation .menu li.dropdown .dropdown-content {
    display: block;
    position: relative;
  }
  .navigation .menu li a {
    padding: 12px;
  }
}
.ng-view.ng-enter {
  z-index: 8888;
  animation: fade-in 0.4s both ease-in;
}

.ng-view.ng-leave {
  animation: fade-out 0.2s both ease-in;
  z-index: 9999;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hover-animation {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes margin-top-animation {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 60px;
  }
}
footer {
  border-top: solid 2px lightgray;
  text-align: center;
  color: #7b7b7b;
  padding: 20px 0px 15px 0px;
  font-size: 0.8em;
}
footer p {
  margin: 10px;
}

.footer-menu li {
  display: inline-block;
  margin-top: 10px;
}
.footer-menu li a {
  color: #7b7b7b;
  margin: 10px;
}

.icons {
  text-align: center;
  padding: 3em 3em;
}

.icon-card {
  vertical-align: top;
  display: inline-block;
  margin: 10px 20px;
  max-width: 220px;
}
.icon-card img {
  width: 110px;
}

.icon-caption {
  color: #696969;
  margin-top: 15px;
  text-align: center;
}

.blog-links {
  text-align: center;
  background-color: #f7f7f7;
}
.blog-links hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #33658A;
  width: 25%;
}
.blog-links h1 {
  display: block;
  margin: 6px 0px 15px;
}
.blog-links .view-more {
  padding: 15px 0px;
}
.blog-links .view-more a {
  margin: 10px 0px 15px;
  display: inline-block;
  padding: 10px;
  color: #33658A;
  border: solid 2px #33658A;
  transition: all 0.3s ease-in-out;
}
.blog-links .view-more a:hover {
  color: white;
  background-color: #33658A;
}

.news-wrapper {
  position: relative;
  display: inline-block;
  width: 340px;
  margin: 10px;
  vertical-align: top;
}
.news-wrapper .news-date {
  position: absolute;
  top: 5px;
  transform: translateX(-15px);
  border: 3px solid #33658A;
  border-radius: 8px;
  width: 54px;
  background-color: #efefef;
  padding: 4px;
  z-index: 3;
}
.news-wrapper .news-date .news-day {
  background-color: white;
  border-radius: 8px;
  color: #33658A;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 4px;
}
.news-wrapper .news-date .news-month {
  border-radius: 4px;
  background-color: white;
  color: #33658A;
  font-weight: 700;
}
.news-wrapper .news-card {
  overflow: hidden;
  width: 340px;
  height: 210px;
  position: relative;
  background: url("../img/bicycle.jpg");
  background-size: cover;
}
.news-wrapper .news-card:hover .news-caption {
  transform: translateY(0%);
}
.news-wrapper .news-card .news-caption {
  width: 340px;
  height: 210px;
  background-color: rgba(0, 0, 0, 0.73);
  transform: translateY(65%);
  transition: all 0.7s ease-in-out;
}
.news-wrapper .news-card .news-caption strong {
  display: block;
  text-align: center;
  padding: 20px 10px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.news-wrapper .news-card .news-caption .news-summary {
  color: white;
  padding: 0px 15px;
  line-height: 1.2em;
  height: 3.6em;
  position: absolute;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
}
.news-wrapper .news-body {
  color: #696969;
  line-height: 1.5;
  margin: 12px 0px;
}

@media only screen and (min-width: 320px) and (max-width: 565px) {
  .news-wrapper {
    width: 290px;
  }
  .news-wrapper .news-date {
    top: 4px;
    transform: translateX(-10px);
    border: 2px solid #33658A;
    width: 47px;
    padding: 3px;
    z-index: 3;
  }
  .news-wrapper .news-date .news-day {
    font-size: 23px;
    margin-bottom: 3px;
  }
  .news-wrapper .news-date .news-month {
    font-weight: 700;
  }
  .news-wrapper .news-card {
    width: 290px;
    height: 190px;
  }
  .news-wrapper .news-card .news-caption {
    width: 290px;
    height: 190px;
  }
}
.about {
  padding: 20px 0px;
  text-align: center;
  overflow: hidden;
  background-color: #f7f7f7;
}
.about hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #2e8ab3;
  width: 25%;
}
.about h1 {
  display: block;
  margin: 6px 0px 15px;
}
.about .view-more {
  padding: 15px 0px;
}
.about .view-more > a {
  margin: 10px 0px 15px;
  display: inline-block;
  padding: 10px;
  color: #2e8ab3;
  border: solid 2px #2e8ab3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.about .view-more > a:hover {
  color: white;
  background-color: #2e8ab3;
}

.about-wrapper-section {
  width: 200%;
  position: relative;
  transition: all 0.4s ease-in;
}
.about-wrapper-section.is-showing {
  transform: translate3d(-50%, 0, 0);
}
.about-wrapper-section .about-main {
  width: 50%;
  float: left;
}
.about-wrapper-section .about-main .about-p {
  color: #696969;
  line-height: 1.5;
  max-width: 450px;
  margin: auto;
}
.about-wrapper-section .about-extended {
  width: 50%;
  float: left;
  height: 1000px;
  display: none;
}

.extended-container {
  max-width: 900px;
  margin: auto;
  padding: 15px;
}
.extended-container #back-about-button {
  display: inline-block;
  padding: 12px;
  color: #2e8ab3;
  font-size: 28px;
  cursor: pointer;
}

.contributors-section {
  padding: 40px 0px 40px;
  text-align: center;
}
.contributors-section hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #2e8ab3;
  width: 25%;
}
.contributors-section h1 {
  display: block;
  margin: 6px 0px 15px;
}
.contributors-section > div > p {
  color: #696969;
  font-size: 21px;
}
.contributors-section .boton-donar {
  display: inline-block;
  padding: 15px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  border: 2px solid #2e8ab3;
  background-color: #2e8ab3;
  color: white;
}
.contributors-section .boton-donar:hover {
  background-color: transparent;
  border-color: #2e8ab3;
  color: #2e8ab3;
}

.slider-controls {
  position: relative;
}
.slider-controls #slider-left, .slider-controls #slider-right {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  font-size: 32px;
  cursor: pointer;
}
.slider-controls #slider-left {
  transform: translate(-280px, -50%);
}
.slider-controls #slider-left svg {
  width: 60px;
  height: 80px;
}
.slider-controls #slider-left svg polyline {
  transition: all 0.3s ease-in-out;
  stroke: #2e8ab3;
}
.slider-controls #slider-left:hover svg polyline {
  stroke-width: 3;
}
.slider-controls #slider-right {
  transform: translate(220px, -50%);
}
.slider-controls #slider-right svg {
  width: 60px;
  height: 80px;
}
.slider-controls #slider-right svg polyline {
  transition: all 0.3s ease-in-out;
  stroke: #2e8ab3;
}
.slider-controls #slider-right:hover svg polyline {
  stroke-width: 3;
}

.slider-container {
  width: 400px;
  margin: 25px auto 15px auto;
  overflow: hidden;
}

.slider-wrapper {
  width: 1200px;
  transition: all 0.6s ease-in-out;
}

.slider-card {
  float: left;
  width: 400px;
}

.contrib-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  float: left;
}

.contrib-caption {
  padding-left: 10px;
  width: 330px;
  float: left;
  color: #696969;
}
.contrib-caption p {
  margin: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 590px) {
  .slider-container {
    width: 290px;
  }

  .slider-wrapper {
    width: 870px;
  }

  .slider-card {
    width: 290px;
  }

  .contrib-image {
    width: 50px;
    height: 50px;
  }

  .contrib-caption {
    padding-left: 5px;
    width: 240px;
  }

  #slider-left, #slider-right {
    display: none;
  }
}
.programs-section {
  padding: 20px 3%;
  text-align: center;
}
.programs-section hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #2e8ab3;
  width: 25%;
}
.programs-section h1 {
  display: block;
  margin: 6px 0px 15px;
}

.program-container {
  position: relative;
  width: 50%;
  display: inline-block;
  height: 450px;
  float: left;
  padding: 5px;
  overflow: hidden;
}
.program-container .program-image {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 440px;
  transition: transform 2s ease-in-out;
}
.program-container .program-image h1 {
  font-family: "Oleo Script", cursive;
  margin-top: 10px;
  font-size: 30px;
  color: white;
  text-shadow: -3px 1px 15px black;
  padding: 12px 5px;
  border-bottom: solid 2px white;
  border-top: solid 2px white;
  display: inline-block;
}
.program-container .program-image .program-body {
  position: absolute;
  bottom: 0px;
  color: white;
  padding: 5px 10px;
  line-height: 165%;
  background-color: rgba(0, 0, 0, 0.8);
}
.program-container .program-image .program-body div {
  color: white;
  display: inline-block;
  border: 2px solid white;
  padding: 5px 10px;
  margin: 5px 0px;
}
.program-container .imaginacion {
  background-image: url("../img/IP-01-CREDIT_Tom_Moore.jpg");
}
.program-container .herramientas {
  background-image: url("../img/IP-06-CREDIT_Tom_Moore.jpg");
}

@media only screen and (min-width: 320px) and (max-width: 825px) {
  .program-container {
    width: 100%;
    float: none;
  }
  .program-container .program-image h1 {
    margin-top: 10px;
    font-size: 24px;
    padding: 10px 5px;
  }
  .program-container .program-image .program-body {
    line-height: 150%;
  }
}
.products-header {
  height: 200px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/news/event.jpg");
  background-size: cover;
}
.products-header h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 6px 0px 15px;
}

.about-wrapper {
  max-width: 1100px;
  margin: auto;
  color: #696969;
  font-family: "Work Sans", sans-serif;
  padding: 30px 20px 0px;
}
.about-wrapper p {
  line-height: 170%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.about-mision, .about-vision {
  width: 50%;
  float: left;
  padding: 10px 10px;
}

.business-model {
  background-color: #33658A;
  color: white;
  padding: 20px 0px;
  text-align: center;
}
.business-model .model-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.business-model svg {
  height: 25px;
  width: 23px;
}

.round-div {
  border: 4px solid white;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin: 15px;
  height: 150px;
  width: 150px;
  vertical-align: top;
  position: relative;
}
.round-div.big {
  height: 180px;
  width: 180px;
}
.round-div p {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 500;
}

.team {
  padding: 20px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  max-width: 1100px;
  margin: auto;
}
.team > h1, .team h2 {
  text-align: left;
}
.team > h2 {
  color: #545454;
}
.team .member-card {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  padding: 10px;
  margin: 5px 10px;
  color: #696969;
}
.team .member-card img {
  border: solid 3px #33658A;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 5px auto;
  display: block;
}
.team .member-card.committee img {
  border: solid 3px #2e8ab3;
}
.team .member-card h3 {
  color: #4e4e4e;
  margin: 5px 0px;
  display: inline-block;
  padding: 6px 8px;
  border-bottom: 2px solid #33658A;
}
.team .member-card.committee h3 {
  border-color: #2e8ab3;
}
.team .member-card h4 {
  color: #545454;
  font-style: italic;
  margin: 5px 0px;
}
.team .member-card p {
  margin: 5px 0px;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .business-model .model-flex {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
@media only screen and (min-width: 320px) and (max-width: 724px) {
  .about-mision, .about-vision {
    width: 100%;
    float: none;
  }
}
.news-header {
  height: 200px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/news/event.jpg");
  background-size: cover;
}
.news-header h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 6px 0px 15px;
}

.contact-section {
  font-family: "Work Sans", sans-serif;
  padding-top: 20px;
}

.mail-container {
  padding: 45px 20px;
  max-width: 1100px;
  margin: auto;
}
.mail-container h3 {
  color: #545454;
}
.mail-container .mail-display {
  font-size: 5vw;
  text-align: center;
  padding: 20px 0px;
  color: #696969;
}

.summary {
  color: #696969;
  padding: 0px 20px 20px;
  max-width: 1100px;
  margin: auto;
}
.summary h5 {
  color: #545454;
  margin: 10px 0px;
}
.summary ul {
  padding-left: 35px;
}
.summary ul li {
  margin-bottom: 10px;
  list-style-type: square;
}
.summary ul li p {
  line-height: 150%;
  margin-bottom: 5px;
}
.summary ul li p span {
  font-weight: 500;
}
.summary iframe {
  width: 100%;
  max-width: 700px;
  height: 320px;
  margin: auto;
}

.form-container {
  padding: 40px;
  background-color: #696969;
  color: white;
}
.form-container > h3 {
  max-width: 1100px;
  margin: auto;
  font-weight: 300;
}
.form-container #ajax-contact {
  padding: 10px 0px;
  margin: auto;
  max-width: 800px;
}
.form-container label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 6px;
  font-weight: 500;
}
.form-container .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 10px;
}
.form-container textarea.form-control {
  height: auto;
}
.form-container button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.news-header {
  height: 200px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/news/event.jpg");
  background-size: cover;
}
.news-header h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 6px 0px 15px;
}

.news-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 15px;
}

.news-container {
  width: 75%;
  float: left;
  text-align: left;
}
.news-container .search-box {
  position: relative;
  color: #696969;
  margin-bottom: 10px;
}
.news-container .search-box input {
  height: 40px;
  width: 100%;
  text-indent: 40px;
}
.news-container .search-box svg {
  position: absolute;
  top: 10px;
  height: 20px;
  width: 40px;
}

.news-main {
  margin-bottom: 18px;
}
.news-main.ng-enter {
  transition: 0.4s linear all;
  opacity: 0;
  transform: translate3d(25px, 0px, 0px);
}
.news-main.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.news-main.ng-leave {
  transition: 0.4s linear all;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.news-main.ng-leave.ng-leave-active {
  transform: translate3d(25px, 0px, 0px);
  opacity: 0;
}
.news-main .news-main-img {
  width: 100%;
  height: 300px;
}
.news-main h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
}
.news-main .news-body {
  padding-left: 10px;
}
.news-main .news-body p {
  color: #696969;
  line-height: 1.7;
  margin: 5px;
}
.news-main .tags {
  color: #696969;
  padding: 12px;
}
.news-main .tags label {
  font-size: 12px;
}
.news-main .tags span {
  margin-left: 11px;
  font-size: 11px;
}

.sidebar {
  width: 25%;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

#to-fix {
  color: #696969;
  width: 262.5px;
  padding-left: 10px;
  border-left: solid #33658A;
  border-bottom: solid #33658A;
  max-height: 400px;
  overflow-y: auto;
}
#to-fix h2 {
  margin-top: 8px;
}
#to-fix div {
  margin: 16px 0px;
  font-size: 13px;
  padding-left: 10px;
}
#to-fix div a {
  text-transform: capitalize;
  display: block;
  color: #696969;
}

.fix-me {
  position: fixed;
  top: 84px;
}

@media (max-width: 1100px) {
  #to-fix {
    width: 220px;
  }
}
@media (max-width: 992px) {
  #to-fix {
    display: none;
  }

  .news-container {
    width: 100%;
  }
}
.products-header {
  height: 200px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/news/event.jpg");
  background-size: cover;
}
.products-header h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 6px 0px 15px;
}

.stem-intro, .stem-detail {
  max-width: 1100px;
  padding: 0px 20px;
  margin: auto;
  color: #696969;
  font-family: "Work Sans", sans-serif;
}
.stem-intro h1, .stem-detail h1 {
  font-size: 22px;
}
.stem-intro p, .stem-detail p {
  margin-top: 6px;
  line-height: 150%;
}

.stem-intro {
  margin-top: 25px;
}

.stem-detail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.program-icons {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.program-icons h2 {
  padding: 0px 20px 20px 20px;
  color: #545454;
}
.program-icons .icon-card {
  vertical-align: top;
  display: inline-block;
  margin: 10px 20px;
  max-width: 200px;
}
.program-icons .icon-card .icon-container svg {
  width: 150px;
  height: 150px;
}
.program-icons .icon-card .icon-caption {
  margin-top: 7px;
  color: #696969;
  font-weight: 500;
}

.program-wrapper {
  padding: 20px 0px;
}
.program-wrapper:nth-child(even) {
  background-color: #f7f7f7;
}
.program-wrapper .program-box {
  max-width: 1100px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
}
.program-wrapper .program-box.reversed {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.program-wrapper .program-box h1 {
  font-family: "Oleo Script", cursive;
}
.program-wrapper .program-box .program-gallery {
  width: 50%;
  padding: 10px;
  text-align: center;
}
.program-wrapper .program-box .program-gallery img {
  height: 220px;
  width: 230px;
  margin: 4px;
}
.program-wrapper .program-box .program-desc {
  text-align: center;
  width: 50%;
  padding: 20px;
}
.program-wrapper .program-box .program-desc h1 {
  font-family: "Oleo Script", cursive;
  padding: 6px 12px;
  display: inline-block;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  color: #4e4e4e;
}
.program-wrapper .program-box .program-desc p {
  color: #696969;
  text-align: left;
  margin: 8px 0px;
  line-height: 150%;
}
.program-wrapper .program-box .program-desc ul {
  padding-left: 30px;
  text-align: left;
}
.program-wrapper .program-box .program-desc ul li {
  list-style-type: disc;
  margin-top: 6px;
  color: #2e8ab3;
}
.program-wrapper .program-box .program-desc ul li span {
  color: #696969;
}
.program-wrapper .program-box .program-desc a {
  margin: 15px 0px 10px;
  display: inline-block;
  padding: 8px 14px;
  color: white;
  background-color: #33658A;
  border: solid 2px #33658A;
  transition: all 0.3s ease-in-out;
}
.program-wrapper .program-box .program-desc a:hover {
  color: #33658A;
  background-color: transparent;
}

.info-banner {
  background-color: #2e8ab3;
  padding: 10px;
  font-weight: 500;
}
.info-banner p {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 15px;
  max-width: 1000px;
  margin: auto;
}

.initiatives-section {
  max-width: 1100px;
  margin: auto;
  padding: 15px 20px;
  text-align: center;
}
.initiatives-section > h1 {
  text-align: left;
  margin: 10px 0px;
}
.initiatives-section .initiative-card {
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
  padding: 20px 14px;
  border: solid 2px #bbbbbb;
  color: #696969;
  transition: all 0.3s ease-in-out;
}
.initiatives-section .initiative-card.wide {
  width: calc(100% - 40px);
  max-width: 600px;
}
.initiatives-section .initiative-card:hover {
  border-color: #33658A;
}
.initiatives-section .initiative-card h3 {
  padding: 5px 0px;
}
.initiatives-section .initiative-card img {
  width: 100%;
  max-width: 272px;
  height: 190px;
}
.initiatives-section .initiative-card p {
  padding: 5px 0px;
  line-height: 150%;
}
.initiatives-section .initiative-card a {
  display: inline-block;
  padding: 6px 10px;
  border: solid 2px #33658A;
  background-color: transparent;
  color: #33658A;
  transition: all 0.3s ease-in-out;
}
.initiatives-section .initiative-card a:hover {
  background-color: #33658A;
  color: white;
}

@media only screen and (max-width: 1021px) {
  .program-wrapper .program-box .program-gallery img {
    height: 182px;
    width: 190px;
  }
}
@media only screen and (max-width: 860px) {
  .program-wrapper .program-box {
    display: block;
  }
  .program-wrapper .program-box .program-desc, .program-wrapper .program-box .program-gallery {
    width: 100%;
  }

  .program-icons .icon-card .icon-container svg {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 580px) {
  .program-wrapper .program-box .program-gallery img {
    height: 154px;
    width: 159px;
  }

  .initiative-card {
    width: calc(100% - 40px) !important;
    width-max-width: 300px !important;
  }

  .program-icons .icon-card .icon-container svg {
    width: 94px;
    height: 94px;
  }
}

/*# sourceMappingURL=finalTheme.css.map */