* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.top-wrapper {
  position: fixed;
  z-index: 5;
  height: 80px;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 3px #d4d4d4;
}
.top-wrapper + .header {
  margin-top: 80px;
}

.top {
  height: 3px;
  background: repeating-linear-gradient(90deg, #F44336 0%, #F44336 25%, #009688 25%, #009688 50%, #9C27B0 50%, #9C27B0 75%, #FFC107 75%, #FFC107 100%);
  background-size: 50% 100%;
}

.nav-wrapper {
  padding: 0px;
}

.navigation {
  margin: 10px 4em;
  overflow: auto;
}
.navigation .burger-nav {
  margin-right: 10px;
  padding: 6px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  float: right;
  display: none;
}
.navigation .burger-nav .menu-bar {
  background-color: gray;
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 4px;
  border-radius: 2px;
}
.navigation .main-icon {
  display: inline-block;
}
.navigation .main-icon svg {
  width: 70px;
}
.navigation .menu {
  float: right;
  margin-right: 20px;
}
.navigation .menu li {
  display: inline-block;
  margin-right: 1em;
}
.navigation .menu li.active {
  border-bottom: solid 2px #9C27B0;
}
.navigation .menu li a {
  display: block;
  padding: 15px 15px;
}

.donar {
  color: white;
  background-color: #F44336;
}

.header {
  height: 400px;
  position: relative;
  overflow: hidden;
}
.header .header-img {
  background: url("../img/kidsWater.jpg");
  size: cover;
  height: 400px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.header .header-title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 400px;
  display: block;
  color: white;
  padding-top: 185px;
  padding-left: 6%;
}
.header .header-title h1 {
  text-shadow: 0px 2px 2px black;
  font-size: 30px;
}
.header .header-title p {
  text-shadow: 0px 2px 2px black;
  margin: 15px 0px 20px;
}
.header .header-title a {
  background-color: #009a8b;
  color: white;
  padding: 14px 24px;
  display: inline-block;
}

@media only screen and (min-width: 820px) and (max-width: 1080px) {
  .navigation {
    margin: 10px 0em;
  }
  .navigation .menu {
    margin-right: 10px;
  }
  .navigation .menu li {
    margin-right: 5px;
  }
  .navigation .menu li a {
    padding: 10px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 820px) {
  .navigation {
    margin: 10px 0em;
  }
  .navigation .burger-nav {
    display: inline-block;
  }
  .navigation .menu {
    margin-right: 0px;
    float: none;
    display: none;
  }
  .navigation .menu.show-me {
    display: block;
  }
  .navigation .menu li {
    margin-right: 0px;
    display: block;
    text-align: center;
    background-color: white;
  }
  .navigation .menu li a {
    padding: 12px;
  }
}
footer {
  border-top: solid 2px lightgray;
  text-align: center;
  color: #7b7b7b;
  padding: 20px 0px 15px 0px;
  font-size: 0.8em;
}
footer p {
  margin: 10px;
}

.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  color: #7b7b7b;
  margin: 10px;
}

.news-header {
  margin-top: 80px;
  text-align: center;
}
.news-header hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #009688;
  width: 25%;
}
.news-header h1 {
  display: block;
  color: gray;
  margin: 6px 0px 15px;
}

.news-section {
  margin-top: 80px;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

.news-container {
  width: 75%;
  float: left;
  text-align: left;
}
.news-container .search-box {
  position: relative;
  color: gray;
  margin-bottom: 10px;
}
.news-container .search-box input {
  height: 40px;
  width: 100%;
  text-indent: 40px;
}
.news-container .search-box svg {
  position: absolute;
  top: 10px;
  height: 20px;
  width: 40px;
}

.news-main {
  color: gray;
  margin-bottom: 18px;
}
.news-main.ng-enter {
  transition: 0.4s linear all;
  opacity: 0;
  transform: translate3d(25px, 0px, 0px);
}
.news-main.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.news-main.ng-leave {
  transition: 0.4s linear all;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.news-main.ng-leave.ng-leave-active {
  transform: translate3d(25px, 0px, 0px);
  opacity: 0;
}
.news-main .news-main-img {
  width: 100%;
  height: 300px;
}
.news-main h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
}
.news-main .news-body {
  padding-left: 10px;
}
.news-main .news-body p {
  line-height: 1.7;
  margin: 5px;
}
.news-main .tags {
  padding: 12px;
}
.news-main .tags label {
  font-size: 12px;
}
.news-main .tags span {
  margin-left: 11px;
  font-size: 11px;
}

.sidebar {
  width: 25%;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

#to-fix {
  color: gray;
  width: 262.5px;
  padding-left: 10px;
  border-left: solid #009688;
  border-bottom: solid #009688;
  max-height: 400px;
  overflow-y: auto;
}
#to-fix h2 {
  margin-top: 8px;
}
#to-fix div {
  margin: 16px 0px;
  font-size: 13px;
  padding-left: 10px;
}
#to-fix div a {
  text-transform: capitalize;
  display: block;
}

.fix-me {
  position: fixed;
  top: 84px;
}

@media (max-width: 1100px) {
  #to-fix {
    width: 220px;
  }
}
@media (max-width: 992px) {
  #to-fix {
    display: none;
  }

  .news-container {
    width: 100%;
  }
}

/*# sourceMappingURL=newsTheme.css.map */