* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.under-construction {
  display: block;
  text-align: center;
  height: 0px;
  padding-top: 15px;
  animation-name: construction-animation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  font-weight: 500;
  letter-spacing: 2px;
}

@keyframes construction-animation {
  0% {
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    height: 60px;
    visibility: visible;
    opacity: 1;
  }
}
.top-wrapper {
  position: fixed;
  z-index: 5;
  height: 80px;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 3px #d4d4d4;
}
.top-wrapper + .header {
  margin-top: 80px;
}

.top {
  animation-name: margin-top-animation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  height: 3px;
  background: repeating-linear-gradient(90deg, #2e8ab3 0%, #2e8ab3 25%, #33658A 25%, #33658A 50%, #2e8ab3 50%, #2e8ab3 75%, #33658A 75%, #33658A 100%);
  background-size: 50% 100%;
}

.nav-wrapper {
  padding: 0px;
}

.navigation {
  margin: 10px 4em;
}
.navigation .burger-nav {
  margin-right: 10px;
  padding: 6px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  float: right;
  display: none;
}
.navigation .burger-nav .menu-bar {
  background-color: gray;
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 4px;
  border-radius: 2px;
}
.navigation .main-icon {
  display: inline-block;
}
.navigation .main-icon svg {
  width: 70px;
}
.navigation .menu {
  float: right;
  margin-right: 20px;
}
.navigation .menu li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
}
.navigation .menu li.dropdown .dropdown-content {
  z-index: 100;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform-origin: top left;
}
.navigation .menu li.dropdown:hover .dropdown-content {
  display: block;
  animation-name: hover-animation;
  animation-duration: 0.3s;
}
.navigation .menu li a {
  display: block;
  padding: 15px 15px;
  color: #551a8b;
}
.navigation .menu li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2e8ab3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.navigation .menu li:hover:before, .navigation .menu li.active:before {
  visibility: visible;
  transform: scaleX(1);
}

.donar {
  color: white !important;
  background-color: #2e8ab3;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.header {
  height: 400px;
  position: relative;
  overflow: hidden;
}
.header .header-img {
  background: url("../img/kidsWater.jpg");
  background-size: cover;
  height: 400px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.header .header-title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 400px;
  display: block;
  color: white;
  padding-top: 185px;
  padding-left: 6%;
}
.header .header-title h1 {
  text-shadow: 0px 2px 2px black;
  font-size: 30px;
}
.header .header-title p {
  text-shadow: 0px 2px 2px black;
  margin: 15px 0px 20px;
}
.header .header-title a {
  background-color: #34678d;
  color: white;
  border: 2px solid #34678d;
  padding: 14px 24px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in-out;
}
.header .header-title a:hover {
  border: 2px solid white;
}

h1.title {
  color: #4e4e4e;
}

h1.subtitle {
  color: #545454;
}

@media only screen and (min-width: 820px) and (max-width: 1080px) {
  .navigation {
    margin: 10px 0em;
  }
  .navigation .menu {
    margin-right: 10px;
  }
  .navigation .menu li {
    margin-right: 5px;
  }
  .navigation .menu li a {
    padding: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 820px) {
  .navigation {
    margin: 10px 0em;
  }
  .navigation .burger-nav {
    display: inline-block;
  }
  .navigation .menu {
    margin-right: 0px;
    float: none;
    display: none;
  }
  .navigation .menu.show-me {
    display: block;
  }
  .navigation .menu li {
    margin-right: 0px;
    display: block;
    text-align: center;
    background-color: white;
  }
  .navigation .menu li a {
    padding: 12px;
  }
}
@keyframes hover-animation {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes margin-top-animation {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 60px;
  }
}
footer {
  border-top: solid 2px lightgray;
  text-align: center;
  color: #7b7b7b;
  padding: 20px 0px 15px 0px;
  font-size: 0.8em;
}
footer p {
  margin: 10px;
}

.footer-menu li {
  display: inline-block;
  margin-top: 10px;
}
.footer-menu li a {
  color: #7b7b7b;
  margin: 10px;
}

.products-header {
  height: 200px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/news/event.jpg");
  background-size: cover;
}
.products-header h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 6px 0px 15px;
}

.stem-intro, .stem-detail {
  max-width: 1100px;
  padding: 0px 20px;
  margin: auto;
  color: #696969;
  font-family: "Work Sans", sans-serif;
}
.stem-intro h1, .stem-detail h1 {
  font-size: 22px;
}
.stem-intro p, .stem-detail p {
  margin-top: 6px;
  line-height: 150%;
}

.stem-intro {
  margin-top: 25px;
}

.stem-detail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.program-wrapper {
  padding: 20px 0px;
}
.program-wrapper:nth-child(even) {
  background-color: #f7f7f7;
}
.program-wrapper .program-box {
  max-width: 1100px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
}
.program-wrapper .program-box.reversed {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.program-wrapper .program-box h1 {
  font-family: "Oleo Script", cursive;
}
.program-wrapper .program-box .program-gallery {
  width: 50%;
  padding: 10px;
  text-align: center;
}
.program-wrapper .program-box .program-gallery img {
  height: 220px;
  width: 230px;
  margin: 4px;
}
.program-wrapper .program-box .program-desc {
  text-align: center;
  width: 50%;
  padding: 20px;
}
.program-wrapper .program-box .program-desc h1 {
  font-family: "Oleo Script", cursive;
  padding: 6px 12px;
  display: inline-block;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  color: #4e4e4e;
}
.program-wrapper .program-box .program-desc p {
  color: #696969;
  text-align: left;
  margin: 8px 0px;
  line-height: 150%;
}
.program-wrapper .program-box .program-desc ul {
  padding-left: 30px;
  text-align: left;
}
.program-wrapper .program-box .program-desc ul li {
  list-style-type: disc;
  margin-top: 6px;
  color: #2e8ab3;
}
.program-wrapper .program-box .program-desc ul li span {
  color: #696969;
}
.program-wrapper .program-box .program-desc a {
  margin: 15px 0px 10px;
  display: inline-block;
  padding: 8px 14px;
  color: white;
  background-color: #33658A;
  border: solid 2px #33658A;
  transition: all 0.3s ease-in-out;
}
.program-wrapper .program-box .program-desc a:hover {
  color: #33658A;
  background-color: transparent;
}

.info-banner {
  background-color: #2e8ab3;
  padding: 10px;
  font-weight: 500;
}
.info-banner p {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 15px;
  max-width: 1000px;
  margin: auto;
}

.initiatives-section {
  max-width: 1100px;
  margin: auto;
  padding: 15px 20px;
  text-align: center;
}
.initiatives-section > h1 {
  text-align: left;
  margin: 10px 0px;
}
.initiatives-section .initiative-card {
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
  padding: 20px 14px;
  color: #696969;
  transition: all 0.3s ease-in-out;
}
.initiatives-section .initiative-card.wide {
  width: calc(100% - 40px);
  max-width: 600px;
}
.initiatives-section .initiative-card:hover {
  border-color: #33658A;
}
.initiatives-section .initiative-card h3 {
  padding: 5px 0px;
}
.initiatives-section .initiative-card img {
  width: 100%;
  max-width: 272px;
  height: 190px;
}
.initiatives-section .initiative-card p {
  padding: 5px 0px;
  line-height: 150%;
}
.initiatives-section .initiative-card a {
  display: inline-block;
  padding: 6px 10px;
  border: solid 2px #33658A;
  background-color: transparent;
  color: #33658A;
  transition: all 0.3s ease-in-out;
}
.initiatives-section .initiative-card a:hover {
  background-color: #33658A;
  color: white;
}

@media only screen and (max-width: 1021px) {
  .program-wrapper .program-box .program-gallery img {
    height: 182px;
    width: 190px;
  }
}
@media only screen and (max-width: 860px) {
  .program-wrapper .program-box {
    display: block;
  }
  .program-wrapper .program-box .program-desc, .program-wrapper .program-box .program-gallery {
    width: 100%;
  }
}
@media only screen and (max-width: 580px) {
  .program-wrapper .program-box .program-gallery img {
    height: 154px;
    width: 159px;
  }

  .initiative-card {
    width: calc(100% - 40px) !important;
    width-max-width: 300px !important;
  }
}

/*# sourceMappingURL=productsTheme.css.map */