* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.top {
  height: 6px;
  background: repeating-linear-gradient(90deg, #F44336 0%, #F44336 25%, #009688 25%, #009688 50%, #9C27B0 50%, #9C27B0 75%, #FFC107 75%, #FFC107 100%);
  background-size: 50% 100%;
}

.nav-wrapper {
  padding: 0px;
}

.navigation {
  margin: 10px 4em;
  overflow: auto;
}
.navigation .main-icon {
  display: inline-block;
}
.navigation .main-icon svg {
  width: 70px;
}
.navigation .menu {
  float: right;
  margin-right: 20px;
}
.navigation .menu li {
  display: inline-block;
  margin-right: 1em;
}
.navigation .menu li.active {
  border-bottom: solid 2px #9C27B0;
}
.navigation .menu li a {
  display: block;
  padding: 15px 15px;
}

.donar {
  color: white;
  background-color: #F44336;
}

.header {
  height: 400px;
  position: relative;
  background: url("../img/kidsWater.jpg");
  background-size: cover;
}
.header .header-title {
  position: absolute;
  padding: 20px;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

footer {
  border-top: solid 2px lightgray;
  text-align: center;
  color: #7b7b7b;
  padding: 20px 0px 15px 0px;
  font-size: 0.8em;
}
footer p {
  margin: 10px;
}

.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  color: #7b7b7b;
  margin: 10px;
}

.icons {
  text-align: center;
  padding: 3em 3em;
}

.icon-card {
  display: inline-block;
  padding: 15px;
  margin: 10px 20px;
  max-width: 200px;
}
.icon-card img {
  width: 140px;
}

.icon-caption {
  color: gray;
  margin-top: 15px;
  text-align: center;
}

.blog-links {
  text-align: center;
}
.blog-links hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #009688;
  width: 25%;
}
.blog-links h1 {
  display: block;
  color: gray;
  margin: 6px 0px 15px;
}
.blog-links .view-more {
  padding: 15px 0px;
}
.blog-links .view-more a {
  margin: 10px 0px 15px;
  display: inline-block;
  padding: 10px;
  color: #009688;
  border: solid 2px #009688;
}

.news-wrapper {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 240px;
  margin: 10px;
}
.news-wrapper .news-date {
  position: absolute;
  top: 6px;
  transform: translateX(-15px);
  border: 3px solid #009688;
  border-radius: 8px;
  width: 60px;
  background-color: #efefef;
  padding: 5px;
  z-index: 3;
}
.news-wrapper .news-date .news-day {
  background-color: white;
  border-radius: 8px;
  color: #009688;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 5px;
}
.news-wrapper .news-date .news-month {
  border-radius: 4px;
  background-color: white;
  color: #009688;
  font-weight: 700;
}
.news-wrapper .news-card {
  overflow: hidden;
  width: 380px;
  height: 240px;
  background: url("../img/bicycle.jpg");
  background-size: cover;
}
.news-wrapper .news-card:hover .news-caption {
  transform: translateY(0%);
}
.news-wrapper .news-card .news-caption {
  width: 380px;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.45);
  transform: translateY(75%);
  transition: all 0.8s ease-in-out;
}
.news-wrapper .news-card .news-caption strong {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}
.news-wrapper .news-body {
  color: gray;
  line-height: 1.5;
  margin: 12px;
}

.about {
  text-align: center;
  background-color: #f7f7f7;
  overflow: hidden;
}
.about hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #9C27B0;
  width: 25%;
}
.about h1 {
  display: block;
  color: gray;
  margin: 6px 0px 15px;
}
.about .view-more {
  padding: 15px 0px;
}
.about .view-more #about-button {
  margin: 10px 0px 15px;
  display: inline-block;
  padding: 10px;
  color: #9C27B0;
  border: solid 2px #9C27B0;
  cursor: pointer;
}
.about .view-more #about-button span {
  transform: translateY(1.5px);
  display: inline-block;
}

.about-wrapper {
  width: 200%;
  position: relative;
  transition: all 0.4s ease-in;
}
.about-wrapper.is-showing {
  transform: translate3d(-50%, 0, 0);
}
.about-wrapper .about-main {
  width: 50%;
  float: left;
}
.about-wrapper .about-main .about-p {
  color: gray;
  line-height: 1.5;
  max-width: 350px;
  margin: auto;
}
.about-wrapper .about-extended {
  width: 50%;
  float: left;
  height: 1000px;
  display: none;
}

.extended-container {
  max-width: 900px;
  margin: auto;
  padding: 15px;
}
.extended-container #back-about-button {
  display: inline-block;
  padding: 12px;
  color: #9C27B0;
  font-size: 28px;
  cursor: pointer;
}

/*# sourceMappingURL=result.css.map */