* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.under-construction {
  display: block;
  text-align: center;
  height: 0px;
  padding-top: 15px;
  animation-name: construction-animation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  font-weight: 500;
  letter-spacing: 2px;
  display: none;
}

@keyframes construction-animation {
  0% {
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    height: 60px;
    visibility: visible;
    opacity: 1;
  }
}
.top-wrapper {
  position: fixed;
  z-index: 5;
  height: 80px;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 3px #d4d4d4;
}
.top-wrapper + .header {
  margin-top: 80px;
}

.top {
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  height: 3px;
  background: repeating-linear-gradient(90deg, #2e8ab3 0%, #2e8ab3 25%, #33658A 25%, #33658A 50%, #2e8ab3 50%, #2e8ab3 75%, #33658A 75%, #33658A 100%);
  background-size: 50% 100%;
}

.nav-wrapper {
  padding: 0px;
}

.navigation {
  margin: 10px 3em;
}
.navigation .burger-nav {
  margin-right: 10px;
  padding: 6px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  float: right;
  display: none;
}
.navigation .burger-nav .menu-bar {
  background-color: gray;
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 4px;
  border-radius: 2px;
}
.navigation .main-icon {
  display: inline-block;
}
.navigation .main-icon svg {
  width: 70px;
}
.navigation .main-icon img {
  width: 150px;
}
.navigation .menu {
  float: right;
  margin-right: 20px;
}
.navigation .menu li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
}
.navigation .menu li.dropdown .dropdown-content {
  z-index: 100;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform-origin: top left;
}
.navigation .menu li.dropdown:hover .dropdown-content {
  display: block;
  animation-name: hover-animation;
  animation-duration: 0.3s;
}
.navigation .menu li a {
  display: block;
  padding: 15px 15px;
  color: #551a8b;
}
.navigation .menu li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2e8ab3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.navigation .menu li:hover:before, .navigation .menu li.active:before {
  visibility: visible;
  transform: scaleX(1);
}

.donar {
  color: white !important;
  background-color: #2e8ab3;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.header {
  height: 400px;
  position: relative;
  overflow: hidden;
}
.header .header-img {
  background: url("../img/main.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.header .header-title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 400px;
  display: block;
  color: white;
  padding-top: 205px;
  padding-left: 6%;
}
.header .header-title h1 {
  text-shadow: 0px 2px 2px black;
  font-size: 35px;
  font-weight: 500;
  margin: 15px 0px 20px;
}
.header .header-title p {
  text-shadow: 0px 2px 2px black;
  margin: 15px 0px 20px;
}
.header .header-title a {
  background-color: #34678d;
  color: white;
  border: 2px solid #34678d;
  padding: 14px 24px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in-out;
}
.header .header-title a:hover {
  border: 2px solid white;
}

h1.title {
  color: #4e4e4e;
}

h1.subtitle {
  color: #545454;
}

@media only screen and (min-width: 880px) and (max-width: 1134px) {
  .navigation {
    margin: 10px 0px 10px 2em;
  }
  .navigation .main-icon img {
    width: 120px;
  }
  .navigation .menu {
    margin-right: 10px;
  }
  .navigation .menu li {
    margin-right: 5px;
  }
  .navigation .menu li a {
    padding: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 880px) {
  .navigation {
    margin: 10px 0px 10px 0px;
  }
  .navigation .main-icon img {
    width: 100px;
  }
  .navigation .burger-nav {
    display: inline-block;
  }
  .navigation .menu {
    margin-right: 0px;
    float: none;
    display: none;
  }
  .navigation .menu.show-me {
    display: block;
  }
  .navigation .menu li {
    margin-right: 0px;
    display: block;
    text-align: center;
    background-color: white;
  }
  .navigation .menu li:before {
    display: none;
  }
  .navigation .menu li.dropdown .dropdown-content {
    display: block;
    position: relative;
    box-shadow: none;
  }
  .navigation .menu li.dropdown .dropdown-content a:first-child {
    display: none;
  }
  .navigation .menu li a {
    padding: 12px;
  }
}
@keyframes hover-animation {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes margin-top-animation {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 60px;
  }
}
footer {
  border-top: solid 2px lightgray;
  text-align: center;
  color: #7b7b7b;
  padding: 20px 0px 15px 0px;
  font-size: 0.8em;
}
footer p {
  margin: 10px;
}

.footer-menu li {
  display: inline-block;
  margin-top: 10px;
}
.footer-menu li a {
  color: #7b7b7b;
  margin: 10px;
}

.footer-social-links li {
  display: inline-block;
}
.footer-social-links li a {
  display: block;
  margin: 10px 10px;
}
.footer-social-links li a .social-icon-container {
  width: 30px;
  height: 30px;
}
.footer-social-links li a object {
  pointer-events: none;
}

.icons {
  text-align: center;
  padding: 3em 3em;
}

.icon-card {
  vertical-align: top;
  display: inline-block;
  margin: 10px 20px;
  max-width: 225px;
}
.icon-card img {
  width: 150px;
  transition: all 0.4s linear;
}
.icon-card:hover img {
  -webkit-filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.6));
}

.icon-caption {
  color: #696969;
  margin-top: 15px;
  text-align: center;
}

.blog-links {
  text-align: center;
  padding: 20px 0px;
}
.blog-links hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #33658A;
  width: 25%;
}
.blog-links h1 {
  display: block;
  margin: 6px 0px 15px;
}
.blog-links .view-more {
  padding: 15px 0px;
}
.blog-links .view-more a {
  margin: 10px 0px 15px;
  display: inline-block;
  padding: 10px;
  color: #33658A;
  border: solid 2px #33658A;
  transition: all 0.3s ease-in-out;
}
.blog-links .view-more a:hover {
  color: white;
  background-color: #33658A;
}

.news-wrapper {
  position: relative;
  display: inline-block;
  width: 340px;
  margin: 10px;
  vertical-align: top;
}
.news-wrapper .news-date {
  position: absolute;
  top: 5px;
  transform: translateX(-15px);
  border: 3px solid #33658A;
  border-radius: 8px;
  width: 54px;
  background-color: #efefef;
  padding: 4px;
  z-index: 3;
}
.news-wrapper .news-date .news-day {
  background-color: white;
  border-radius: 8px;
  color: #33658A;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 4px;
}
.news-wrapper .news-date .news-month {
  border-radius: 4px;
  background-color: white;
  color: #33658A;
  font-weight: 700;
}
.news-wrapper .news-card {
  overflow: hidden;
  width: 340px;
  height: 210px;
  background: url("../img/bicycle.jpg");
  background-size: cover;
}
.news-wrapper .news-card:hover .news-caption {
  transform: translateY(0%);
}
.news-wrapper .news-card .news-caption {
  width: 340px;
  height: 210px;
  background-color: rgba(0, 0, 0, 0.73);
  transform: translateY(65%);
  transition: all 0.8s ease-in-out;
  position: relative;
}
.news-wrapper .news-card .news-caption strong {
  display: block;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.news-wrapper .news-card .news-caption p {
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0px;
}
.news-wrapper .news-body {
  color: #696969;
  line-height: 1.5;
  margin: 12px 0px;
}

@media only screen and (min-width: 320px) and (max-width: 565px) {
  .news-wrapper {
    width: 290px;
  }
  .news-wrapper .news-date {
    top: 4px;
    transform: translateX(-10px);
    border: 2px solid #33658A;
    width: 47px;
    padding: 3px;
    z-index: 3;
  }
  .news-wrapper .news-date .news-day {
    font-size: 23px;
    margin-bottom: 3px;
  }
  .news-wrapper .news-date .news-month {
    font-weight: 700;
  }
  .news-wrapper .news-card {
    width: 290px;
    height: 190px;
  }
  .news-wrapper .news-card .news-caption {
    width: 290px;
    height: 190px;
  }
}
.about {
  padding: 20px 0px;
  text-align: center;
  overflow: hidden;
  background-color: #f7f7f7;
}
.about hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #2e8ab3;
  width: 25%;
}
.about h1 {
  display: block;
  margin: 6px 0px 15px;
}
.about .view-more {
  padding: 15px 0px;
}
.about .view-more > a {
  margin: 10px 0px 15px;
  display: inline-block;
  padding: 10px;
  color: #2e8ab3;
  border: solid 2px #2e8ab3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.about .view-more > a:hover {
  color: white;
  background-color: #2e8ab3;
}

.about-wrapper {
  width: 200%;
  position: relative;
  transition: all 0.4s ease-in;
}
.about-wrapper.is-showing {
  transform: translate3d(-50%, 0, 0);
}
.about-wrapper .about-main {
  width: 50%;
  float: left;
}
.about-wrapper .about-main .about-p {
  color: #696969;
  line-height: 1.5;
  max-width: 450px;
  margin: auto;
}
.about-wrapper .about-extended {
  width: 50%;
  float: left;
  height: 1000px;
  display: none;
}

.extended-container {
  max-width: 900px;
  margin: auto;
  padding: 15px;
}
.extended-container #back-about-button {
  display: inline-block;
  padding: 12px;
  color: #2e8ab3;
  font-size: 28px;
  cursor: pointer;
}

.contributors-section {
  padding: 40px 0px 40px;
  text-align: center;
}
.contributors-section hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #2e8ab3;
  width: 25%;
}
.contributors-section h1 {
  display: block;
  margin: 6px 0px 15px;
}
.contributors-section > div > p {
  color: #696969;
  font-size: 21px;
}
.contributors-section .boton-donar {
  display: inline-block;
  padding: 15px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  border: 2px solid #2e8ab3;
  background-color: #2e8ab3;
  color: white;
}
.contributors-section .boton-donar:hover {
  background-color: transparent;
  border-color: #2e8ab3;
  color: #2e8ab3;
}

.slider-controls {
  position: relative;
}
.slider-controls #slider-left, .slider-controls #slider-right {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  font-size: 32px;
  cursor: pointer;
}
.slider-controls #slider-left {
  transform: translate(-280px, -50%);
}
.slider-controls #slider-left svg {
  width: 60px;
  height: 80px;
}
.slider-controls #slider-left svg polyline {
  transition: all 0.3s ease-in-out;
  stroke: #2e8ab3;
}
.slider-controls #slider-left:hover svg polyline {
  stroke-width: 3;
}
.slider-controls #slider-right {
  transform: translate(200px, -50%);
}
.slider-controls #slider-right svg {
  width: 60px;
  height: 80px;
}
.slider-controls #slider-right svg polyline {
  transition: all 0.3s ease-in-out;
  stroke: #2e8ab3;
}
.slider-controls #slider-right:hover svg polyline {
  stroke-width: 3;
}

.slider-container {
  width: 400px;
  margin: 25px auto 15px auto;
  overflow: hidden;
}

.slider-wrapper {
  width: 3200px;
  transition: all 0.6s ease-in-out;
}

.slider-card {
  float: left;
  width: 400px;
}

.contrib-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  float: left;
}

.contrib-caption {
  padding-left: 10px;
  width: 330px;
  float: left;
  color: #696969;
}
.contrib-caption p {
  margin: 10px;
}

.not-round {
  border-radius: 0%;
  width: 100px;
}
.not-round + .contrib-caption {
  padding-left: 0px;
  width: 270px;
}

.slider-nav {
  padding: 0px 10px 10px 10px;
}
.slider-nav li {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #33658A;
  background-color: white;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.slider-nav li.active-button {
  background-color: #33658A;
}

@media only screen and (min-width: 320px) and (max-width: 590px) {
  .slider-container {
    width: 290px;
  }

  .slider-wrapper {
    width: 2320px;
  }

  .slider-card {
    width: 290px;
  }

  .contrib-image {
    width: 50px;
    height: 50px;
  }

  .contrib-caption {
    padding-left: 5px;
    width: 240px;
  }

  .not-round {
    width: 70px;
  }
  .not-round + .contrib-caption {
    width: 220px;
  }

  #slider-left, #slider-right {
    display: none;
  }
}
.programs-section {
  padding: 20px 3%;
  text-align: center;
  background-color: #f7f7f7;
}
.programs-section hr {
  display: inline-block;
  border: none;
  height: 2px;
  background-color: #2e8ab3;
  width: 25%;
}
.programs-section h1 {
  display: block;
  margin: 6px 0px 15px;
}

.program-container {
  position: relative;
  width: 50%;
  display: inline-block;
  height: 450px;
  float: left;
  padding: 5px;
  overflow: hidden;
}
.program-container .program-image {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 440px;
  transition: transform 2s ease-in-out;
}
.program-container .program-image h1 {
  font-family: "Oleo Script", cursive;
  margin-top: 10px;
  font-size: 30px;
  color: white;
  text-shadow: -3px 1px 15px black;
  padding: 12px 5px;
  border-bottom: solid 2px white;
  border-top: solid 2px white;
  display: inline-block;
}
.program-container .program-image .program-body {
  position: absolute;
  bottom: 0px;
  color: white;
  padding: 5px 10px;
  line-height: 165%;
  background-color: rgba(0, 0, 0, 0.8);
}
.program-container .program-image .program-body div {
  color: white;
  display: inline-block;
  border: 2px solid white;
  padding: 5px 10px;
  margin: 5px 0px;
}
.program-container .imaginacion {
  background-image: url("../img/IP-01-CREDIT_Tom_Moore.jpg");
}
.program-container .herramientas {
  background-image: url("../img/thumbs/CH6.jpg");
}

@media only screen and (min-width: 320px) and (max-width: 825px) {
  .program-container {
    width: 100%;
    float: none;
  }
  .program-container .program-image h1 {
    margin-top: 10px;
    font-size: 24px;
    padding: 10px 5px;
  }
  .program-container .program-image .program-body {
    line-height: 150%;
  }
}
.loader {
  color: #79d5e8;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/*# sourceMappingURL=result.css.map */