.contributors-section
  padding: 40px 0px 40px
  text-align: center

  hr
    display: inline-block
    border: none
    height: 2px
    background-color: $first-color
    width: 25%

  h1
    display: block
    margin: 6px 0px 15px

  &>div>p
    color: $text-main
    font-size: 21px

  .boton-donar
    display: inline-block
    padding: 15px
    margin-top: 10px
    transition: all 0.3s ease-in-out
    border: 2px solid $first-color
    background-color: $first-color
    color: white

    &:hover
      background-color: transparent
      border-color: $first-color
      color: $first-color

.slider-controls
  position: relative
  
  #slider-left, #slider-right
    position: absolute
    top: 50%
    left: 50%
    padding: 10px
    font-size: 32px
    cursor: pointer

  #slider-left
    transform: translate(-280px, -50%)

    svg
      width: 60px
      height: 80px

      polyline
        transition: all 0.3s ease-in-out
        stroke: $first-color

    &:hover svg polyline
      stroke-width: 3

  #slider-right
    transform: translate(200px, -50%)

    svg
      width: 60px
      height: 80px

      polyline
        transition: all 0.3s ease-in-out
        stroke: $first-color

    &:hover svg polyline
      stroke-width: 3

.slider-container
  width: 400px
  margin: 25px auto 15px auto
  overflow: hidden

.slider-wrapper
  width: 400px * $slides-contributors
  transition: all 0.6s ease-in-out 

.slider-card
  float: left
  width: 400px

.contrib-image
  border-radius: 50%
  width: 70px
  height: 70px
  float: left

.contrib-caption
  padding-left: 10px
  width: 330px
  float: left
  color: $text-main

  p
    margin: 10px

.not-round
  border-radius: 0%
  width: 100px

  &+ .contrib-caption
    padding-left: 0px
    width: 270px

.slider-nav
  padding: 0px 10px 10px 10px

  li
    display: inline-block
    height: 15px
    width: 15px
    border: 1px solid $second-color
    background-color: white
    border-radius: 50%
    margin-left: 10px
    cursor: pointer

    &.active-button
      background-color: $second-color 
      


@media only screen and (min-width: 320px) and (max-width: 590px)
  .slider-container
    width: 290px

  .slider-wrapper
    width: 290px * $slides-contributors

  .slider-card
    width: 290px
    
  .contrib-image
    width: 50px
    height: 50px

  .contrib-caption
    padding-left: 5px
    width: 240px

  .not-round
    width: 70px

    &+ .contrib-caption
      width: 220px

  #slider-left, #slider-right
    display: none