.under-construction
  display: block
  text-align: center
  height: 0px
  padding-top: 15px
  animation-name: construction-animation
  animation-duration: 0.8s
  animation-fill-mode: forwards
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: white
  z-index: 1000
  font-weight: 500
  letter-spacing: 2px

@keyframes construction-animation
  0%
    height: 0px
    visibility: hidden
    opacity: 0
  100%
    height: 60px
    visibility: visible
    opacity: 1

.top-wrapper
  position: fixed
  z-index: 5
  height: 80px
  top: 0
  width: 100%
  background-color: white
  box-shadow: 0px 2px 3px #d4d4d4

  & + .header
    margin-top: 80px

.top
  animation-name: margin-top-animation
  animation-duration: 0.8s
  animation-fill-mode: forwards
  height: 3px
  background: repeating-linear-gradient(90deg, $first-color 0%,$first-color 25%, $second-color 25%, $second-color 50%, $third-color 50%, $third-color 75%, $fourth-color 75%, $fourth-color 100%)
    size: 50% 100%

.nav-wrapper
  padding: 0px

.navigation
  margin: 10px 4em
  //overflow: auto

  .burger-nav
    margin-right: 10px
    padding: 6px
    border: 1px solid transparent
    background-color: transparent
    cursor: pointer
    outline: none
    float: right
    display: none

    .menu-bar
      background-color: gray
      display: block
      width: 30px
      height: 3px
      margin-top: 4px
      border-radius: 2px

  .main-icon
    display: inline-block

    svg
      width: 70px

  .menu
    float: right
    margin-right: 20px

    li
      display: inline-block
      margin-right: 1em
      position: relative

      &.dropdown

        .dropdown-content
          z-index: 100
          display: none
          position: absolute
          background-color: white
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
          transform-origin: top left

        &:hover .dropdown-content
          display: block
          animation-name: hover-animation
          animation-duration: 0.3s

      a
        display: block
        padding: 15px 15px
        color: rgb(85, 26, 139)

      &:before 
        content: ""
        position: absolute
        width: 100%
        height: 2px
        bottom: 0
        left: 0
        background-color: $third-color
        visibility: hidden
        transform: scaleX(0)
        transition: all 0.3s ease-in-out 0s
      

      &:hover:before, &.active:before
        visibility: visible
        transform: scaleX(1)

.donar
  color: white !important
  background-color: $first-color
  font-family: $font-stack
  font-weight: 500

.header
  height: 400px
  position: relative
  overflow: hidden

  .header-img
    background: url('../img/kidsWater.jpg')
      size: cover
    height: 400px
    filter: blur(4px)

  .header-title
    position: absolute
    left: 0px
    top: 0px
    width: 100%
    height: 400px
    display: block
    color: white
    padding-top: 185px
    padding-left: 6%
    //background-color: rgba(0,0,0,0.5)
    //position: absolute
    //color: white
    //text-align: center
    //bottom: 0px
    //left: 0px
    //right: 0px

    h1
      text-shadow: 0px 2px 2px black
      font-size: 30px
    p
      text-shadow: 0px 2px 2px black
      margin: 15px 0px 20px
    a
      background-color: lighten($second-color, 0.7)
      color: white
      border: 2px solid lighten($second-color, 0.7)
      padding: 14px 24px
      display: inline-block
      font-family: $font-anchor
      transition: all 0.3s ease-in-out 

      &:hover
        border: 2px solid white

h1.title
  color: $title-color

h1.subtitle
  color: $subtitle-color

@media only screen and (min-width: 820px) and (max-width: 1080px)
  .navigation 
    margin: 10px 0em
    .menu 
      margin-right: 10px
      
      li 
        margin-right: 5px
        a
          padding: 10px 

@media only screen and (min-width: 320px) and (max-width: 820px)
  .navigation 
    margin: 10px 0em

    .burger-nav
      display: inline-block

    .menu
      margin-right: 0px
      float: none
      display: none
      
      &.show-me
        display: block

      li 
        margin-right: 0px
        display: block
        text-align: center
        background-color: white

        &.dropdown .dropdown-content
          display: block
          position: relative
          
        a
          padding: 12px 

.ng-view.ng-enter
  z-index: 8888
  animation: fade-in 0.4s both ease-in

.ng-view.ng-leave
  animation: fade-out 0.2s both ease-in
  z-index: 9999

@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes hover-animation
  0%
    opacity: 0
    transform: scaleY(0)
  100%
    opacity: 1
    transform: scaleY(1)

@keyframes margin-top-animation
  0%
    margin-top: 0px
  100%
    margin-top: 60px

