.news-header
  height: 200px
  position: relative
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/header-main.jpg")
  background-size: cover

  h1
    color: white
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    display: block
    margin: 6px 0px 15px

.news-section
  max-width: 1200px
  margin: 20px auto
  padding: 15px

.news-container
  width: 75%
  float: left
  text-align: left

  .search-box
    position: relative
    color: $text-main
    margin-bottom: 10px

    input
      height: 40px
      width: 100%
      text-indent: 40px

    svg
      position: absolute
      top: 10px
      height: 20px
      width: 40px

.news-main
  margin-bottom: 18px

  &.ng-enter
    transition: 0.4s linear all
    opacity: 0
    transform: translate3d(25px,0px,0px)

    &.ng-enter-active
      opacity: 1
      transform: translate3d(0px,0px,0px)

  &.ng-leave 
    transition: 0.4s linear all
    transform: translate3d(0px,0px,0px)
    opacity: 1

    &.ng-leave-active
      transform: translate3d(25px,0px,0px)
      opacity: 0
  
  .date
    color: $text-main
    padding: 5px 10px
    font-style: italic

  .news-main-img
    float: left
    width: 300px
    height: auto
    min-height: 200px
    max-height: 300px
    margin: 20px

  h1
    text-transform: uppercase
    font-weight: 700
    margin-bottom: 12px
  
  .news-body
    padding-left: 10px
    
    p
      color: $text-main
      line-height: 1.7
      margin: 5px

  .tags
    color: $text-main
    padding: 12px

    label
      font-size: 12px

    span
      margin-left: 11px
      font-size: 11px

.sidebar
  width: 25%
  float: left
  position: relative
  padding-left: 15px
  padding-right: 15px

#to-fix
  color: $text-main
  width: 262.5px
  padding-left: 10px
  border-left: solid $second-color
  border-bottom: solid $second-color
  max-height: 400px
  overflow-y: auto

  h2
    margin-top: 8px

  div
    margin: 16px 0px
    font-size: 13px
    padding-left: 10px

    a
      text-transform: capitalize
      display: block
      color: $text-main

.fix-me
  position: fixed
  top: 84px

@media (max-width: 1100px)
  #to-fix
    width: 220px

@media (max-width: 992px)
  #to-fix
    display: none
  .news-container
    width: 100%

