.blog-links
  text-align: center
  background-color: $bg-gray

  hr
    display: inline-block
    border: none
    height: 2px
    background-color: $second-color
    width: 25%

  h1
    display: block
    margin: 6px 0px 15px
  
  .view-more
    padding: 15px 0px

  .view-more a
    margin: 10px 0px 15px
    display: inline-block
    padding: 10px
    color: $second-color
    border: solid 2px $second-color
    transition: all 0.3s ease-in-out 

    &:hover
      color: white
      background-color: $second-color

.news-wrapper
  position: relative
  display: inline-block
  width: 340px
  margin: 10px
  vertical-align: top

  .news-date
    position: absolute
    top: 5px
    transform: translateX(-15px)
    border: 3px solid $second-color
    border-radius: 8px
    width: 54px
    background-color: #efefef
    padding: 4px
    z-index: 3

    .news-day
      background-color: white
      border-radius: 8px
      color: $second-color
      font-weight: bold
      font-size: 26px
      margin-bottom: 4px

    .news-month
      border-radius: 4px
      background-color: white
      color: $second-color
      font-weight: 700

  .news-card
    overflow: hidden
    width: 340px
    height: 210px
    background: url('../img/bicycle.jpg')
      size: cover

    &:hover .news-caption
      transform: translateY(0%)

    .news-caption
      width: 340px
      height: 210px
      background-color: rgba(0,0,0,0.45)
      transform: translateY(75%)
      transition: all 0.8s ease-in-out

      strong
        display: block
        text-align: center
        padding: 10px
        color: white
        text-transform: uppercase
        font-weight: 300

  .news-body
    color: $text-main
    line-height: 1.5
    margin: 12px 0px

@media only screen and (min-width: 320px) and (max-width: 565px)
  .news-wrapper
    width: 290px

    .news-date
      top: 4px
      transform: translateX(-10px)
      border: 2px solid $second-color
      width: 47px
      padding: 3px
      z-index: 3

      .news-day
        font-size: 23px
        margin-bottom: 3px

      .news-month
        font-weight: 700

    .news-card
      width: 290px
      height: 190px

      .news-caption
        width: 290px
        height: 190px