.icons
  text-align: center
  padding: 3em 3em

.icon-card
  vertical-align: top
  display: inline-block
  margin: 10px 20px
  max-width: 200px

  img
    width: 110px

.icon-caption
  color: $text-main
  margin-top: 15px
  text-align: center