<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Noticias</title>
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/newsTheme.css">
</head>
<body ng-app="newsModule">
		<div class="top"></div>
			<div class="nav-wrapper">
			  <div class="navigation">
			    <div class="main-icon">
			    	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 3968.5 2834.6" style="enable-background:new 0 0 3968.5 2834.6;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:#FFFFFF;stroke:#000000;stroke-width:20;stroke-miterlimit:10;}
						.st1{fill:none;}
						.st2{font-family:'Gondola';}
						.st3{font-size:1053.5675px;}
					</style>
					<circle id="XMLID_1_" class="st0" cx="2038.9" cy="1412.3" r="1405.3"/>
					<rect id="XMLID_2_" x="1382.1" y="771.1" class="st1" width="901.6" height="914.7"/>
					<text id="XMLID_3_" transform="matrix(1 0 0 1 1382.0532 1591.8076)" class="st2 st3">C</text>
					<rect id="XMLID_6_" x="1971.7" y="1377.5" class="st1" width="901.6" height="914.7"/>
					<text id="XMLID_5_" transform="matrix(1 0 0 1 1971.7202 2198.2344)" class="st2 st3">V</text>
					</svg>
			    </div>
			    <button id="slideMenuButton" class="burger-nav">
					<span class="menu-bar"></span>
					<span class="menu-bar"></span>
					<span class="menu-bar"></span>
				</button>
			    <ul class="menu">
			      <li><a href="index.html">Inicio</a></li>
			      <li class="active"><a href="news.html">Noticias</a></li>
			      <li><a href="programs.html">Programas</a></li>
			      <li><a href="about.html">Quienes Somos</a></li>
			      <li><a href="contact.html">Contactanos</a></li>
			      <li><a class="donar" href="">DONA AHORA</a></li>
			    </ul>
			</div>
		</div>	
	<header class="news-header">
		<h1 class="title">NOTICIAS</h1>
	</header>
	<section class="news-section" ng-controller="newsController">
		<div class="clearfix">
			<div class="news-container">
				<div class="search-box">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 310.42 310.42" style="enable-background:new 0 0 310.42 310.42;" xml:space="preserve">
						<g>
							<g>
								<path d="M273.587,214.965c49.11-49.111,49.109-129.021,0-178.132c-49.111-49.111-129.02-49.111-178.13,0    C53.793,78.497,47.483,140.462,76.51,188.85c0,0,2.085,3.498-0.731,6.312c-16.065,16.064-64.263,64.263-64.263,64.263    c-12.791,12.79-15.836,30.675-4.493,42.02l1.953,1.951c11.343,11.345,29.229,8.301,42.019-4.49c0,0,48.096-48.097,64.128-64.128    c2.951-2.951,6.448-0.866,6.448-0.866C169.958,262.938,231.923,256.629,273.587,214.965z M118.711,191.71    c-36.288-36.288-36.287-95.332,0.001-131.62c36.288-36.287,95.332-36.288,131.619,0c36.288,36.287,36.288,95.332,0,131.62    C214.043,227.996,155,227.996,118.711,191.71z" fill="#949494"/>
								<g>
									<path d="M126.75,118.424c-1.689,0-3.406-0.332-5.061-1.031c-6.611-2.798-9.704-10.426-6.906-17.038     c17.586-41.559,65.703-61.062,107.261-43.476c6.611,2.798,9.704,10.426,6.906,17.038c-2.799,6.612-10.425,9.703-17.039,6.906     c-28.354-11.998-61.186,1.309-73.183,29.663C136.629,115.445,131.815,118.424,126.75,118.424z" fill="#949494"/>
								</g>
							</g>
						</g>
					</svg>
					<input type="text" placeholder="Por ejem.: Eventos, Lanzamiento, etc." ng-model="searchText">
				</div>
				<div>
					<div ng-attr-id="{{'article-' + article.index}}" class="news-main" ng-repeat="article in newsArticles | filter:searchText">
						<h1 class="subtitle">{{article.title}}</h1>
						<img class="news-main-img" ng-src="{{article.imgPath}}" ng-show="article.imgPath.length" >
						<div class="news-body">
							<p>
								{{article.body}}
							</p>
						</div>	
						<div class="tags">
							<label>Tags:</label>
							<span ng-repeat="tag in article.tags">{{tag}}</span>
						</div>
					</div>
				</div>
			</div>
			<aside class="sidebar">
				<div scroll id="to-fix">
					<h2>Lista de Articulos</h2>
					<div ng-repeat="article in newsArticles | filter:searchText">
						<a ng-attr-href="{{'#article-' + article.index }}">{{article.title}}</a>
					</div>
				</div>
			</aside>
		</div>
	</section>
	<footer>
		<ul class="footer-menu">
	      <li><a href="index.html">Inicio</a></li>
	      <li><a href="news.html">Noticias</a></li>
	      <li><a href="programs.html">Programas</a></li>
	      <li><a href="about.html">Quienes Somos</a></li>
	      <li><a href="contact.html">Contactanos</a></li>
	    </ul>
		<p>©2016. Todos los derechos reservados.</p>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
	<script src="js/newsScript.js"></script>
</body>
</html>