<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Noticias</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/newsTheme.css">
</head>
<body ng-app="newsModule">
	<div class="top"></div>
	<div class="nav-wrapper">
	  <div class="navigation">
	    <div class="main-icon">
	    	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 3968.5 2834.6" style="enable-background:new 0 0 3968.5 2834.6;" xml:space="preserve">
			<style type="text/css">
				.st0{fill:#FFFFFF;stroke:#000000;stroke-width:20;stroke-miterlimit:10;}
				.st1{fill:none;}
				.st2{font-family:'Gondola';}
				.st3{font-size:1053.5675px;}
			</style>
			<circle id="XMLID_1_" class="st0" cx="2038.9" cy="1412.3" r="1405.3"/>
			<rect id="XMLID_2_" x="1382.1" y="771.1" class="st1" width="901.6" height="914.7"/>
			<text id="XMLID_3_" transform="matrix(1 0 0 1 1382.0532 1591.8076)" class="st2 st3">C</text>
			<rect id="XMLID_6_" x="1971.7" y="1377.5" class="st1" width="901.6" height="914.7"/>
			<text id="XMLID_5_" transform="matrix(1 0 0 1 1971.7202 2198.2344)" class="st2 st3">V</text>
			</svg>
	    </div>
	    <ul class="menu">
	      <li><a href="index.html">Inicio</a></li>
	      <li class="active"><a href="news.html">Noticias</a></li>
	      <li><a href="">Productos</a></li>
	      <li><a href="">Quienes Somos</a></li>
	      <li><a href="">Contactanos</a></li>
	      <li><a class="donar" href="">DONA AHORA</a></li>
	    </ul>
	</div>
	</div>
	<header class="news-header">
		<hr>
		<h1>NOTICIAS</h1>
	</header>
	<section class="news-section" ng-controller="newsController">
		<div class="clearfix">
			<div class="sidebar">
				<div ng-repeat="article in newsArticles">{{article.title}}</div>
			</div>
			<div class="news-container">
				<div class="search-box">
					<input type="text" placeholder="Por ejem.: Eventos, Lanzamiento, etc." ng-model="searchArticles">
				</div>
				<div>
					<div class="news-main" ng-repeat="article in newsArticles | filter:searchArticles">
						<h1>{{article.title}}</h1>
						<img class="news-main-img" ng-src="{{article.imgPath}}" ng-show="article.imgPath.length" >
						<div class="news-body">
							<p>
								{{article.body}}
							</p>
						</div>	
						<div class="tags">
							<label>Tags:</label>
							<span ng-repeat="tag in article.tags">{{tag.name}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<ul class="footer-menu">
	      <li><a href="">Inicio</a></li>
	      <li><a href="">Noticias</a></li>
	      <li><a href="">Productos</a></li>
	      <li><a href="">Quienes Somos</a></li>
	      <li><a href="">Contactanos</a></li>
	    </ul>
		<p>©2016. Todos los derechos reservados.</p>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
	<script src="js/newsScript.js"></script>
</body>
</html>